html {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-flow: column;
    background-color: #3D3A35;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100%;
}

.top-wrapper {
    padding-top: 5%;
    padding-bottom: 5%;
}

.middle-wrapper {
    flex: 1 1 auto;
    background-color: #CC4633;
    padding-top: 2%;
    padding-bottom: 2%;
}

.bottom-wrapper {
    flex: 0 1 auto;
    font-size: 1em;
    padding-top: 2%;
    padding-bottom: 2%;
}

div.top-wrapper, div.bottom-wrapper {
    background-color: #3D3A35;
}

div.top-wrapper, div.bottom-wrapper
a {
    color: #fff;
    transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
}

div.top-wrapper, div.bottom-wrapper
a:hover {
    color: #bbb;
}

div.title, div.bottom-wrapper {
    text-align: center;
    color: #fff;
}

div.title
a {
    text-decoration: none;
    color: #fff;
    font-size: 4em;
    transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
}

div.title
a:hover {
    color: #bbb;
}

.content {
    background-color: #FFF7F4;
    border-radius: 4px;
    margin-right: 5%;
    margin-left: 5%;
    padding-top: 2%;
    padding-right: 4%;
    padding-left: 4%;
    padding-bottom: 2%;
}

div.filter {
    display: inline-block;
}

span.small {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.7em;
}

#keywordBar {
    width: 80%;
    height: 2em;
    font-size: 1.8em;
    vertical-align: middle;
}

/* input.submitButton {
    float: right;
    width: 15%;
    height: 2em;
    font-size: 1.8em;
}  */

input.smallInput {
    width: 8em;
}

::-webkit-input-placeholder {
   font-style: italic;
   font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
:-moz-placeholder {
   font-style: italic;  
   font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
::-moz-placeholder {
   font-style: italic;  
   font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
:-ms-input-placeholder {  
   font-style: italic; 
   font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

input.submitButton {
    background-color: #008CBA;
    border: none;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: white;
    cursor: pointer;
    width: 15%;
    padding: 12px 32px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    display: inline-block;
    font-size: 1.6em;
    border: 2px solid #008CBA;
    border-radius: 5px;
    outline: none;
    transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
}

input.submitButton:hover {
  background-color: white;
  color: #008CBA;
}

#graphDiv {
    display: inline-block;
    width: 45%;
    padding: 2%;
    border: 4px solid #999;
    border-radius: 4px;
    vertical-align: top;
    background-color: white;
    overflow: hidden;
}

#resultDiv {
    display: none;
    background-color: white;
    width: 45%;
    padding: 2%;
    border: 4px solid #999;
    border-radius: 4px;
    overflow: hidden;
}

img.videoThumb {
    display: inline-block;
    width: 204px;
    height: 128px;
}

span.videoTitle {
    font-size: 1.3em;
    font-weight: 700;
}

span.videoDesc {
    font-size: 0.7em;
}

div.videoInfo {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding: 8px;
}

h3 {
    margin-top: 0;
}

b {
    display:inline-block;
    position: initial;
}

svg {
    display: block;
    margin: auto;
}

small.info {
    font-size: 0.7em;
    color: #ddd;
    margin-left: 65%;
    font-style: italic;
}

a.infoLink {
    text-decoration: none;
    color: black;
}

a.infoLink:hover {
    color: #888;
}